# Git-crypt шифрование
# Шифровать весь код
*.ts filter=git-crypt diff=git-crypt
*.js filter=git-crypt diff=git-crypt
*.json filter=git-crypt diff=git-crypt
*.html filter=git-crypt diff=git-crypt
*.css filter=git-crypt diff=git-crypt
*.txt filter=git-crypt diff=git-crypt
*.md filter=git-crypt diff=git-crypt
.cursorrules filter=git-crypt diff=git-crypt

# НЕ шифровать
.gitignore -filter
.gitattributes -filter
LICENSE -filter
package-lock.json -filter

